<%= form_with(model: classement, local: true) do |form| %>
  <% if classement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classement.errors.count, "error") %> prohibited this classement from being saved:</h2>

      <ul>
        <% classement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
